server:
  forward-headers-strategy: native
  port: 8080

spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      initialization-fail-timeout: 0

  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: https://jjubull-auth.duckdns.org/oauth2/jwks
          
logging:
  level:
    org:
      hibernate.orm.jdbc.bind: trace

# Solapi SMS 설정
solapi:
  api-key: ${SOLAPI_API_KEY}
  api-secret: ${SOLAPI_API_SECRET}
  sender: ${SOLAPI_SENDER_NUMBER}

management:
  info:
    java.enabled: true
    os.enabled: true
    env.enabled: false
  endpoint:
    health.show-components: when_authorized
  endpoints:
    web:
      exposure:
        include: "health,info,prometheus"

info:
  app:
    name: jjubull-resource
    company: kiwibanana


